<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body, input { margin: 0; padding: 0}
        header {
            display: block;
            line-height: 40px;
        }
        input {
            height: 30px;
            line-height: 30px;
            padding: 0 5px;
            border-radius: 5px;
            border: 1px solid #e8e8e8;
            background-color: transparent;
        }
        .login {
            width: 400px;
            padding: 40px;
            margin: 40px auto;
            text-align: center;
            box-shadow: 0 0 1px 1px #e8e8e8;
        }
        .userlist li {
            display: flex;
            height: 30px;
            line-height: 30px;
            margin-bottom: 15px;
        }

        .userlist label {
            width: 100px;
            padding: 0 10px;
        }
        .userlist input {
            flex: 1;
        }

        .userlist.noborder input{
            border: none;
        }
        .btn-submit {
            width: 40%;
            margin-top: 60px;
            background-color: #ccc;
        }
        </style>
    </head>
    <body>
        <div class="login">
            <header><%=title%></header>
            <form action="/submit" method="post">
                <ul class="userlist <%=success ? 'noborder' : ''%>">
                    <li>
                        <label for="username">用户名：</label>
                        <input type="text" name="username" id="username" value="<%=username%>">
                    </li>
                    <li>
                        <label for="userpass">密码：</label>
                        <input type="text" name="userpass" id="userpass" value="<%=userpass%>">
                    </li>
                </ul>
                <%if(!success){%>
                <input type="submit" value="submit" class="btn-submit">
                <%}%>
            </form>
        </div>
        <script>
        (function(){
            
        })();
        </script>
    </body>
</html>